/*メニューバー関連ここから*/
#menubar {
    background-color: rgba(0,0,0,0.5);
    height: 60px;
    width: 100%;
}

#menubar-sticky-wrapper{
    position: relative;
    z-index: 200;
}

ul#menubar{
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}

li.element{
    /*border: solid 1px blue;*/
    width: 25%;
    height: 100%;
    font-size: 30px;
    display: inline-block;
    text-align: center;
}

#menubar li:hover{
    background-color: red;
}

.element a{
    color: #eee;
    text-decoration: none;
}

.element .current{
    color: pink;
}

#menubar li a{
    text-decoration: none;
    list-style: none;
    display: block;
    width: 100%;
    height: 100%;
}
/*メニューバー関連ここまで*/

/*ジャケット関連ここから*/
.jacket-area {
    width: 100%;
    max-width: 960px;
    display: block;
    margin: auto;
}
.item {
    width: 160px;
    height: 160px;
    overflow: hidden;
}
.item img {
    width: 100%;
    -moz-transition: -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    -ms-transition: -ms-transform 0.2s linear;
    transition: transform 0.2s linear;
}
.item img:hover{
    -webkit-transform:scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
/*ジャケット関連ここまで*/

/*サイドバー関連ここから*/
img#side{
    height: 40px;
    width: 40px;
}

.li-cont{
    color: red;
}
/*サイドバー関連ここまで*/

/* モーダルウィンドウのスタイル */
.modal {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:none;
}
 
/* オーバーレイのスタイル */
.overLay {
  position:fixed;
  top:0;
  left:0;
  background:rgba(200,200,200,0.9);
  width:100%;
  height:100vh;
  z-index:210;
}
 
/* モーダルウィンドウの中身のスタイル */
.modal .inner {
  position:fixed;
  z-index:211;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
